@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

/* Floating Label Input */
.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
  top: 0.5rem;
  font-size: 0.75rem;
  color: #b3b3b3;
}

.floating-input:focus {
  background-color: #454545;
}